* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
}

.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background: linear-gradient(90deg, #0000CC, #000066);
  padding: 1em;
  color: #FF0;
  font-size: 2.4em;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 50px;
}

button, .center {
  margin: auto;
  width:100px;
  height: 100px;
  border-radius:100%;
  border: 1px solid red;
  background-image: radial-gradient(farthest-corner at 50px 50px , #FF9033 0%, #f44641 60%, #FF0000 95%);
  /*background-image: radial-gradient(farthest-corner at 45px 45px , #FF9033 0%, #FF0000 100%);*/
}

#timeOut {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

#intro {
  color: red;
  width: 0px;
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  margin: auto
}
