* {
  box-sizing: border-box;
}
/*html {
  position: relative;
  min-height: 100%;
}*/
.background {
  /*background: url('../img/.jpeg');*/
  background-color: red;
  /*background-repeat: no-repeat;*/
  background-size:auto;
}
h3 {
  font-size: 30px;
  margin-right: 50px;
}
.jumbotron{
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  background-color: blue;
}
.welcome-page{
  color: white;
  text-align: center;
  font-weight: bold;
}
h4{
  border-top: black;
  color: blue;
  /*color: #ff0;*/
  text-align: center;
}
.wrapper > div {
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background: linear-gradient(90deg, #0000CC, #000066);
  padding: 1em;
  color: #FF0;
  font-size: 2.4em;
  text-align: center;
}

#newGame{
  margin-left: 200px;
  margin:auto;
  display: block;
  background-color: blue;
  color: white;
  margin-bottom: 100px;
  margin-top: 100px;
  font-weight: bold;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 50px;
  max-width: 95%;
  margin: 0 auto;
}
button, .center, #nukeIt {
  margin: auto;
  width:120px;
  height: 100px;
  border-radius:100%;
  border: 1px solid red;
  background-image: radial-gradient(farthest-corner at 50px 50px , #FF9033 0%, #f44641 60%, #FF0000 95%);
  display: block;
}
#timeOut {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.rows.fullScreen {
  pointer-events: none;
  z-index: 9999;
  height:100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3vw;
}
input, #userResponse {
  pointer-events: all;
  color: black;

  display: block;
  margin: auto;
  margin-top: 20%;
}
#answer{
  pointer-events: all;
  display: block;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
}
fullScreen{
  display:none;
}
#start{
  margin-top: 20px;
  background-color: #101363;
  color: white;
  margin-left: 200px;
  border: 2px solid white;
  border-radius: 10px;
}
#displayAnswer{
  font-size: 30px;
}
#nukeIt{
  margin-top: 300px;
}
.score{
  background-color: red;
}
body{
  background-image: url("../resources/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
